<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.myntraTestScript.Cart"/>
      <class name="com.myntraTestScript.Profile"/>
      <class name="com.myntraTestScript.Capture_Price"/>
      <class name="com.myntraTestScript.Add_To_Wishlist"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
